<div class="containers hall-building">
  <div class="gradient-filter">
    <div class="title">
      <h1>Edit team</h1>
    </div>
    <div style="display: flex; flex-direction: row">
      <div style="width: 50%">
        <%= render "form", team: @team %>
      </div>
      <div style="width: 50%">
        <%= turbo_frame_tag 'edit_members_form' do %>
          <%= render 'edit_members_form', available_students: @available_students %>
        <% end %>
      </div>
    </div>

  </div>
</div>